/*-------- Tabs --------*/

.tabs {
    &__menu {
        margin-top: 30px;
        position: relative;
    }

    &__menu-list {
        display: flex;
        justify-content: space-between;
    }

    &__menu-item:not(:first-child) {
        margin-left: 10px;
    }

    &__menu-button {
        width: 100%;
        padding: 0 24px;

        line-height: 1;
        font-family: $font-r;
        text-transform: unset;
        background: #eeeeee;
        color: #404040;

        transition: background-color 0.2s ease-out, color 0.2s ease-out;
    }

    &__menu-button:hover,
    &__menu-button.active {
        background-color: $blue;
        color: #ffffff;
    }

    &__menu-button--mobile {
        display: none;
        background-color: $blue;
        color: #ffffff;
    }

    &__item {
        display: none;
    }

    &__item.active {
        display: block;
    }
}

.tabs {
    &--categories {
        margin-top: 80px;
    }

    &--categories &__head {
        display: flex;
        margin-top: 52px;
    }

    &--categories &__icon {
        width: 16px;
        height: 16px;
        margin-bottom: 15px;
    }

    &--categories &__head-title {
        text-transform: uppercase;
        font-size: 12px;
        font-family: $font-b;
        color: #404040;
    }

    &--categories &__row {
        display: flex;
        height: 94px;
        text-decoration: none;

        transition: background-color 0.2s ease-in-out;
    }

    &--categories &__list-item {
        border-top: 1px solid #dddddd;
    }

    &--categories &__list-item:last-child {
        border-bottom: 1px solid #dddddd;
    }

    &--categories &__head &__column {
        flex-direction: column;
    }

    &--categories &__head &__column--1 {
        align-items: flex-start;
    }

    &--categories &__column {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &--categories &__column--1 {
        width: 30%;
        justify-content: flex-start;
        text-align: left;
    }

    &--categories &__column--2 {
        width: 12%;
    }

    &--categories &__column--3 {
        width: 10%;
    }

    &--categories &__column--4 {
        width: 15%;
    }

    &--categories &__column--5 {
        width: 10%;
    }

    &--categories &__column--6 {
        width: 13%;
    }

    &--categories &__column--7 {
        width: 10%;
    }

    &--categories &__text {
        width: 100%;
        font-family: $font-b;
        font-size: 13px;
        color: #777777;

        transition: color 0.2s ease-in-out;
    }

    &--categories &__text--name {
        margin-left: 40px;
        color: #404040;
    }

    &--categories &__text-wrapper {
        width: 100%;
        min-height: 34px;
    }

    &--categories &__text-wrapper--v1 {
        width: auto;
        text-align: center;
    }

    &--categories &__hint {
        margin-top: 8px;
        font-size: 9px;
        color: #777777;
    }

    &--categories &__list {
        margin-top: 20px;
    }

    &--categories &__row:hover {
        background-color: $blue;
    }

    &--categories &__row:hover &__text {
        color: #ffffff;
    }
}

@media (max-width: 989px) {
    .tabs {
        &__menu-button {
            padding: 0 15px;
            font-size: 12px;
        }
    }

    .tabs {
        &--categories &__column--2 {
            width: 15%;
        }

        &--categories &__column--3 {
            width: 15%;
        }

        &--categories &__column--4 {
            width: 15%;
        }

        &--categories &__column--5 {
            width: 10%;
        }

        &--categories &__column--7 {
            width: 15%;
        }

        &--categories &__column--6 {
            display: none;
        }

        &--categories &__list {
            margin-top: 10px;
        }

        &--categories &__head {
            margin-top: 30px;
        }

        &--categories &__image {
            width: 70px;
        }

        &--categories &__text {
            font-size: 12px;
        }

        &--categories &__text--name {
            margin-left: 20px;
        }

        &--categories &__row {
            height: 75px;
        }
    }
}

@media (max-width: 767px) {
    .tabs {
        &__menu-item {
            border-top: 1px solid #4c6789;
        }

        &__menu-button {
            color: #ffffff;
            font-size: 14px;
            padding: 0 20px;
        }

        &__menu-button:not(&__menu-button--mobile) {
            justify-content: flex-start;
            border-radius: 0;
            background-color: $blue;
        }

        &__menu-button--mobile {
            display: flex;
        }

        &__menu-button--mobile:hover {
            filter: none;
        }

        &__menu-button--mobile.opened {
            background: #193557;
            border-radius: 4px 4px 0 0;
        }

        &__menu-list {
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            flex-direction: column;
            border-radius: 0 0 4px 4px;
            overflow: hidden;

            opacity: 0;
            visibility: hidden;

            transition: opacity 0.2s ease-out;
        }

        &__menu-list.opened {
            opacity: 1;
            visibility: visible;
        }

        &__menu-item:not(:first-child) {
            margin-left: 0;
        }
    }

    .tabs {

        &--categories &__head {
            margin-top: 36px;
        }
    }
}

@media (max-width: 619px) {
    .tabs {
        &--categories &__column--3,
        &--categories &__column--5,
        &--categories &__image {
            display: none;
        }

        &--categories &__text--name {
            margin-left: 0;
        }

        &--categories &__column--1 {
            width: 40%;
        }

        &--categories &__column--2,
        &--categories &__column--4,
        &--categories &__column--7 {
            width: 20%;
        }
    }
}

@media (max-width: 479px) {
    .tabs {
        &--categories {
            margin-top: 54px;
        }

        &--categories &__title {
            display: none;
        }

        &--categories &__menu {
            margin-top: 0;
        }

        &--categories &__head-title {
            font-size: 9px;
        }

        &--categories &__row {
            height: 54px;
        }

        &--categories &__text--name {
            font-size: 11px;
        }

        &--categories &__list {
            margin-top: 0;
        }

        &--categories &__icon {
            width: 13px;
            height: 13px;
            margin-bottom: 7px;
        }
    }
}
