.svg-baggage {
	background: url("svg/sprite.css-bfbe8bd7.svg") 38.58327053504145% 51.046859421734794% no-repeat;
}

.svg-baggage-dims {
	width: 17px;
	height: 21px;
}

.svg-beds {
	background: url("svg/sprite.css-bfbe8bd7.svg") 39.9848828420257% 50.89463220675945% no-repeat;
}

.svg-beds-dims {
	width: 21px;
	height: 18px;
}

.svg-facebook {
	background: url("svg/sprite.css-bfbe8bd7.svg") 56.25% 0 no-repeat;
}

.svg-facebook-dims {
	width: 320px;
	height: 512px;
}

.svg-instagram {
	background: url("svg/sprite.css-bfbe8bd7.svg") 100% 0 no-repeat;
}

.svg-instagram-dims {
	width: 448px;
	height: 512px;
}

.svg-oclock {
	background: url("svg/sprite.css-bfbe8bd7.svg") 38.670694864048336% 53.08764940239044% no-repeat;
}

.svg-oclock-dims {
	width: 20px;
	height: 20px;
}

.svg-pin {
	background: url("svg/sprite.css-bfbe8bd7.svg") 40.181268882175225% 53.08764940239044% no-repeat;
}

.svg-pin-dims {
	width: 20px;
	height: 20px;
}

.svg-plane {
	background: url("svg/sprite.css-bfbe8bd7.svg") 42.98642533936651% 50.84409136047666% no-repeat;
}

.svg-plane-dims {
	width: 18px;
	height: 17px;
}

.svg-speed {
	background: url("svg/sprite.css-bfbe8bd7.svg") 41.69184290030211% 53.08764940239044% no-repeat;
}

.svg-speed-dims {
	width: 20px;
	height: 20px;
}

.svg-twitter {
	background: url("svg/sprite.css-bfbe8bd7.svg") 0 100% no-repeat;
}

.svg-twitter-dims {
	width: 512px;
	height: 512px;
}

.svg-users {
	background: url("svg/sprite.css-bfbe8bd7.svg") 41.54078549848943% 50.89463220675945% no-repeat;
}

.svg-users-dims {
	width: 20px;
	height: 18px;
}

.svg-youtube {
	background: url("svg/sprite.css-bfbe8bd7.svg") 0 0 no-repeat;
}

.svg-youtube-dims {
	width: 576px;
	height: 512px;
}

